<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISOS DE UBICACIÓN E INTERNET -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- ¡PERMISOS DE CÁMARA AÑADIDOS! -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icono"
        android:label="Locate It App"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        android:theme="@style/Theme.Locate_It_App">

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".GuardarLugar"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".incidentes_mapa"
            android:exported="false" />

        <activity
            android:name=".lugares_mapa"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <!-- FileProvider para compartir archivos de forma segura -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.locate_it_app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

    </application>

</manifest>
